@model IEnumerable<Elegant.Models.Category>

@{
    ViewBag.Title = "Категорії товарів";
}

<h2>Категорії товарів</h2>

<p>
    @Html.ActionLink("Створити нову категорію", "Create", null, new { @class = "btn btn-primary btn-create" })
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th> <!-- Порожній заголовок для колонки з діями -->
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="action-links">
                <!-- Додаємо клас для стилізації -->
                @Html.ActionLink("Редагувати", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Видалити", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
